.custom__video-carousel {
    margin-top: 50px;
}

.custom__video-carousel .swiper {
    width: 100%;
    height: 100%;
}


.custom__video-carousel .swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 400px;
}

.custom__video-carousel .swiper-slide {
    transition: transform 0.25s ease-out;
    transform: scale(0.85) !important;
}

.custom__video-carousel .swiper-slide.swiper-slide-active {
    transform: scale(1) !important;
}

.custom__video-carousel .swiper-slide-active video {
    max-height: 450px;
}

.custom__video-carousel .swiper-slide.swiper-slide.swiper-slide-active .mute-toggle {
    display: block;
}

.custom__video-carousel .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom__video-carousel .video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.custom__video-carousel .mute-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 24px;
    padding: 3px;
    border-radius: 100%;
    cursor: pointer;
    display: none;
    width: 29px;
}

.custom__video-carousel .mute-toggle.muted svg.volume-up {
    fill: gray;
}

.custom__video-carousel .mute-toggle svg.volume-up {
    margin-top: 5px;
    width: 18px;
    height: 18px;
}

.custom__video-carousel .card__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.custom__video-carousel .image img {
    width: 100%;
    height: 100%;
}

.custom__video-carousel .image {
    width: 80px;
    height: 80px;
}

.custom__video-carousel .add__icon {
    background-color: red;
    cursor: pointer;
    border-radius: 7px;
    border: unset;
}

.custom__video-carousel .add__icon svg {
    fill: white;
    display: flex;
    padding: 4px 2px;
    width: 18px;
    height: 18px;
}

.custom__video-carousel .title {
    margin: unset;
    font-weight: 600;
}

.custom__video-carousel .carousel__product-card {
    border: 1px solid #9e969642;
    border-radius: 8px;
    padding: 0 10px;
}

.custom__video-carousel .money .price {
    font-weight: 600;
    font-size: 12px;

}

.custom__video-carousel .money .compare__price {
    font-size: 12px;
    font-size: 12px;
    text-decoration: line-through;
    color: gray;
}

.custom__video-carousel .swiper-button-next,
.custom__video-carousel .swiper-button-prev {
    display: block !important;
    bottom: 0;
    top: auto;
    left: 50%;
    right: 50%;
    /* 
    justify-content: center;
    */
    position: unset;

}

.custom__video-carousel .swiper-button-prev {
    margin-left: 50px;
}

.custom__video-carousel .swiper__navigation {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    gap: 12px;
}

.custom__video-carousel .swiper-button-next.custom-nav {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.custom__video-carousel .swiper-button-prev.custom-nav {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.custom__video-carousel .swiper-button-prev::after,
.custom__video-carousel .swiper-button-next::after {
    display: none !important;
}

.custom__video-carousel .icons .arrow-up {
    width: 18px;
    margin: 0 auto;
}

.custom__video-carousel .section__title {
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .custom__video-carousel .text__content {
        font-size: 13px;
    }

    .custom__video-carousel .section__title {
        text-align: center;
    }

}